# Pandas Tutorials

- Pandas is a Python library for data manipulation and analysis, and can be conveniently used to process large amounts of data.
- Ref link. : https://codetorial.net/pandas/index.html

In [1]:
# importing module
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Pandas Object Creation

- Series : 레이블을 가지는 1차원 어레이
- DataFrame : 레이블을 갖는 행x열 구조의 2차원 어레이

In [3]:
s = pd.Series([1,2,3,4,5,6])
t = pd.Series([1,2,3,4,5,6.3])
print(s)
print(t)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.3
dtype: float64

In [4]:
s = pd.Series([1,2,3,4.5,5,6], index=['a', 'b', 'c', 'd', 'e', 'f'])
s

a    1.0
b    2.0
c    3.0
d    4.5
e    5.0
f    6.0
dtype: float64

In [11]:
dates = pd.date_range('20230112', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(dates)
print(df)

DatetimeIndex(['2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15',
               '2023-01-16', '2023-01-17'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2023-01-12 -0.266792  1.377294 -0.175429 -0.739934
2023-01-13  1.700311 -1.571461  0.541603 -1.019701
2023-01-14 -1.206732 -0.196157  0.636868 -0.960703
2023-01-15  1.042251  1.149469 -0.270747 -0.182074
2023-01-16  1.143645 -2.258893 -0.799982  0.820826
2023-01-17  2.234045  0.753644 -0.743134  1.080843

In [12]:
df2 = pd.DataFrame({'A': 1.,
                  'B': pd.Timestamp('20130102'),
                  'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                  'D': np.array([3] * 4, dtype='int32'),
                  'E': pd.Categorical(["test", "train", "test", "train"]),
                  'F': 'foo'})

print(df2)
print(df2.dtypes)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df3 = pd.read_csv('./assets/pandas_ex01.csv', header=None)
df3

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

In [15]:
df4 = pd.read_csv('./assets/pandas_ex02.csv', header=0)
df4

  string  number
0      a       1
1      b       2
2      c       3
3      d       4

In [16]:
df5 = pd.read_csv('./assets/pandas_ex02.csv', index_col=0)
df5

        number
string
a            1
b            2
c            3
d            4

## Pandas Viewing Data

- df.head()
- df.tail()
- df.index()
- df.columns()
- df.to_numpy()
- df.describe()
- df.T()
- df.sort_index()
- df.sort_values()

In [17]:
dates = pd.date_range('20230405', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2023-04-05 -1.084358  1.737118  0.206490 -1.586854
2023-04-06 -1.089963  0.154805 -0.191548 -0.023483
2023-04-07  0.637664  0.360932  1.028221 -1.553562
2023-04-08 -0.741838 -0.812139  0.492272 -0.066217
2023-04-09  0.347587 -0.703215 -0.516750 -0.272927
2023-04-10  1.187298 -0.857949 -0.884736  0.867190

In [19]:
df.head(2)

                   A         B         C         D
2023-04-05 -1.084358  1.737118  0.206490 -1.586854
2023-04-06 -1.089963  0.154805 -0.191548 -0.023483

In [20]:
df.tail(4)

                   A         B         C         D
2023-04-07  0.637664  0.360932  1.028221 -1.553562
2023-04-08 -0.741838 -0.812139  0.492272 -0.066217
2023-04-09  0.347587 -0.703215 -0.516750 -0.272927
2023-04-10  1.187298 -0.857949 -0.884736  0.867190

In [21]:
df.index

DatetimeIndex(['2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
df.to_numpy()

array([[-1.08435773,  1.7371177 ,  0.20649026, -1.58685445],
       [-1.08996343,  0.15480494, -0.19154846, -0.02348342],
       [ 0.63766413,  0.36093221,  1.02822147, -1.55356222],
       [-0.74183754, -0.81213936,  0.49227164, -0.06621746],
       [ 0.34758704, -0.7032153 , -0.51674978, -0.27292686],
       [ 1.18729758, -0.8579485 , -0.88473648,  0.86719047]])

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.123935 -0.020075  0.022325 -0.439309
std    0.975615  1.005938  0.696520  0.959703
min   -1.089963 -0.857949 -0.884736 -1.586854
25%   -0.998728 -0.784908 -0.435449 -1.233403
50%   -0.197125 -0.274205  0.007471 -0.169572
75%    0.565145  0.309400  0.420826 -0.034167
max    1.187298  1.737118  1.028221  0.867190

In [26]:
print(df)
print()
print(df.T)

                   A         B         C         D
2023-04-05 -1.084358  1.737118  0.206490 -1.586854
2023-04-06 -1.089963  0.154805 -0.191548 -0.023483
2023-04-07  0.637664  0.360932  1.028221 -1.553562
2023-04-08 -0.741838 -0.812139  0.492272 -0.066217
2023-04-09  0.347587 -0.703215 -0.516750 -0.272927
2023-04-10  1.187298 -0.857949 -0.884736  0.867190

   2023-04-05  2023-04-06  2023-04-07  2023-04-08  2023-04-09  2023-04-10
A   -1.084358   -1.089963    0.637664   -0.741838    0.347587    1.187298
B    1.737118    0.154805    0.360932   -0.812139   -0.703215   -0.857949
C    0.206490   -0.191548    1.028221    0.492272   -0.516750   -0.884736
D   -1.586854   -0.023483   -1.553562   -0.066217   -0.272927    0.867190

In [38]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2023-04-05 -1.586854  0.206490  1.737118 -1.084358
2023-04-06 -0.023483 -0.191548  0.154805 -1.089963
2023-04-07 -1.553562  1.028221  0.360932  0.637664
2023-04-08 -0.066217  0.492272 -0.812139 -0.741838
2023-04-09 -0.272927 -0.516750 -0.703215  0.347587
2023-04-10  0.867190 -0.884736 -0.857949  1.187298

In [39]:
df.sort_values(by='B')

                   A         B         C         D
2023-04-10  1.187298 -0.857949 -0.884736  0.867190
2023-04-08 -0.741838 -0.812139  0.492272 -0.066217
2023-04-09  0.347587 -0.703215 -0.516750 -0.272927
2023-04-06 -1.089963  0.154805 -0.191548 -0.023483
2023-04-07  0.637664  0.360932  1.028221 -1.553562
2023-04-05 -1.084358  1.737118  0.206490 -1.586854

## Pandas Data Selection

- df.loc
- df.iloc
- df.at
- df.iat
- df.isin()

In [47]:
np.random.seed(0)

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

print(dates)
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

In [41]:
# 열 선택하기
print(df['A'])
#print(df.A)
print(type(df['A']))

2013-01-01    1.764052
2013-01-02    1.867558
2013-01-03   -0.103219
2013-01-04    0.761038
2013-01-05    1.494079
2013-01-06   -2.552990
Freq: D, Name: A, dtype: float64
<class 'pandas.core.series.Series'>

In [42]:
# 행 선택하기
print(df[0:3])

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274

In [43]:
# 레이블로 선택하기
print(df.loc[dates[0]])

A    1.764052
B    0.400157
C    0.978738
D    2.240893
Name: 2013-01-01 00:00:00, dtype: float64

In [44]:
print(df.loc[:, ['A', 'B']])

                   A         B
2013-01-01  1.764052  0.400157
2013-01-02  1.867558 -0.977278
2013-01-03 -0.103219  0.410599
2013-01-04  0.761038  0.121675
2013-01-05  1.494079 -0.205158
2013-01-06 -2.552990  0.653619

In [45]:
print(df.loc['20130104', ['A', 'B']])

A    0.761038
B    0.121675
Name: 2013-01-04 00:00:00, dtype: float64

In [46]:
df.loc[dates[0], 'A']

1.764052345967664

In [48]:
df.at[dates[0], 'A']

1.764052345967664

In [50]:
print(df)
print()
print(df.iloc[3]) # df.iloc[row position, col position]

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

A    0.761038
B    0.121675
C    0.443863
D    0.333674
Name: 2013-01-04 00:00:00, dtype: float64

In [51]:
print(df)
print()
print(df.iloc[2:4, 0:3])

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

                   A         B         C
2013-01-03 -0.103219  0.410599  0.144044
2013-01-04  0.761038  0.121675  0.443863

In [52]:
print(df)
print()
print(df.iloc[[1,2,4], [0, 3]])

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

                   A         D
2013-01-02  1.867558 -0.151357
2013-01-03 -0.103219  1.454274
2013-01-05  1.494079 -0.854096

In [57]:
print(df)
print()
print(df.iloc[5, 3])

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

-0.7421650204064419

In [59]:
print(df)
print()
print(df.iat[5, 3])

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

-0.7421650204064419

In [60]:
print(df)
print()
print(df.A > 2)

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

2013-01-01    False
2013-01-02    False
2013-01-03    False
2013-01-04    False
2013-01-05    False
2013-01-06    False
Freq: D, Name: A, dtype: bool

In [61]:
print(df)
print()
print(df[df>1])

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

                   A   B   C         D
2013-01-01  1.764052 NaN NaN  2.240893
2013-01-02  1.867558 NaN NaN       NaN
2013-01-03       NaN NaN NaN  1.454274
2013-01-04       NaN NaN NaN       NaN
2013-01-05  1.494079 NaN NaN       NaN
2013-01-06       NaN NaN NaN       NaN

In [63]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

print(df2)
print()
print(df2[df2['E'].isin(['two', 'four'])]) # Filtering

                   A         B         C         D      E
2013-01-01  1.764052  0.400157  0.978738  2.240893    one
2013-01-02  1.867558 -0.977278  0.950088 -0.151357    one
2013-01-03 -0.103219  0.410599  0.144044  1.454274    two
2013-01-04  0.761038  0.121675  0.443863  0.333674  three
2013-01-05  1.494079 -0.205158  0.313068 -0.854096   four
2013-01-06 -2.552990  0.653619  0.864436 -0.742165  three

                   A         B         C         D     E
2013-01-03 -0.103219  0.410599  0.144044  1.454274   two
2013-01-05  1.494079 -0.205158  0.313068 -0.854096  four

In [65]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
print(s1)

print()

df['F'] = s1
print(df)

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

                   A         B         C         D    F
2013-01-01  1.764052  0.400157  0.978738  2.240893  NaN
2013-01-02  1.867558 -0.977278  0.950088 -0.151357  1.0
2013-01-03 -0.103219  0.410599  0.144044  1.454274  2.0
2013-01-04  0.761038  0.121675  0.443863  0.333674  3.0
2013-01-05  1.494079 -0.205158  0.313068 -0.854096  4.0
2013-01-06 -2.552990  0.653619  0.864436 -0.742165  5.0

In [66]:
df.at[dates[0], 'A'] = 0

print(df)

                   A         B         C         D    F
2013-01-01  0.000000  0.400157  0.978738  2.240893  NaN
2013-01-02  1.867558 -0.977278  0.950088 -0.151357  1.0
2013-01-03 -0.103219  0.410599  0.144044  1.454274  2.0
2013-01-04  0.761038  0.121675  0.443863  0.333674  3.0
2013-01-05  1.494079 -0.205158  0.313068 -0.854096  4.0
2013-01-06 -2.552990  0.653619  0.864436 -0.742165  5.0

In [67]:
df.iat[0, 1] = 0

print(df)

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.978738  2.240893  NaN
2013-01-02  1.867558 -0.977278  0.950088 -0.151357  1.0
2013-01-03 -0.103219  0.410599  0.144044  1.454274  2.0
2013-01-04  0.761038  0.121675  0.443863  0.333674  3.0
2013-01-05  1.494079 -0.205158  0.313068 -0.854096  4.0
2013-01-06 -2.552990  0.653619  0.864436 -0.742165  5.0

In [68]:
df.loc[:, 'D'] = np.array([5] * len(df))

print(df)

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.978738  5  NaN
2013-01-02  1.867558 -0.977278  0.950088  5  1.0
2013-01-03 -0.103219  0.410599  0.144044  5  2.0
2013-01-04  0.761038  0.121675  0.443863  5  3.0
2013-01-05  1.494079 -0.205158  0.313068  5  4.0
2013-01-06 -2.552990  0.653619  0.864436  5  5.0

In [69]:
df2 = df.copy()
df2[df2 > 0] = -df2

print(df2)

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.978738 -5  NaN
2013-01-02 -1.867558 -0.977278 -0.950088 -5 -1.0
2013-01-03 -0.103219 -0.410599 -0.144044 -5 -2.0
2013-01-04 -0.761038 -0.121675 -0.443863 -5 -3.0
2013-01-05 -1.494079 -0.205158 -0.313068 -5 -4.0
2013-01-06 -2.552990 -0.653619 -0.864436 -5 -5.0